<form method="POST">
    <div>
        {{ form_widget(form.name,{'attr': {'placeholder': 'name'}}) }}
        {{ form_errors(form.name) }}
    </div>
    {{ form_rest(form) }}
    <input type="submit"/>
</form>